.btn {
    display: flex;
    justify-content: center;
    background-color: #964B33;
    color: #fff; 
    width: 250px;
    margin: 0 auto;
}

.container {
    background: #f6f6f6;
    padding: 20px;
    border-radius: 10px;
}

.cart-item1 {
    border-radius: 10px;
    border: transparent;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: #FFF6EB;
    width: 300px;
    height: 250px;
    margin: 0 auto;
}

.product-image {
    max-width: 250px;
    height: 180px;
    padding: 10px;
}

.product-image img {
    width: 300px;
    height: 160px;
}

.quantity-btn {
    padding: 5px 10px;
    font-size: 12px;
}


.custom-checkbox {
    position: absolute;
    top: 10px;
    right: 60px;
    background: none;
    border: none;
    cursor: pointer;
    color: #964B33;
    font-size: 20px;
    transform: scale(1.5);
}

.divider-line {
    display: inline-block;
    width: 25%;
    height: 1px;
    background-color: #000;
    vertical-align: middle;
}

@media (max-width: 568px) {
    .btn {
        font-size: 14px;
    }

    .cart-item1 {
        padding: 10px;
    }

    .custom-checkbox {
        top: 0;
        right: 20px;
        font-size: 16px;
        transform: scale(1);
    }

    .product-image {
        width: 100px;
        height: 100px;
        padding: 10px;
    }

    .product-image img {
        width: 100px;
        height: 90px;
    }

    .quantity-btn {
        padding: 4px 8px;
        font-size: 12px;
    }
}
@media (max-width: 800px) {
    .btn {
        width: 300px;
        font-size: 14px;
        padding: 10px;
    }

    .container {
        padding: 10px;
    }

    .cart-item1 {
        width: 500px;
        height: auto;
        padding: 10px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    }

    .cart-item {
        width: 400px;
        padding: 5px;
    }

    .custom-checkbox {
        top: 15px;
        right: 40px;
        font-size: 14px;
        transform: scale(1);
    }

    .divider-line {
        width: 21%;
    }

    .product-details {
        font-size: 13px;
        height: 150px;
        width: 170px;
    }

    .product-details h3 {
        font-size: 15px;
        width: 150px;
        margin: 0 10px;
        font-weight: bold;
    }

    .product-details p {
        font-size: 12px;
        margin: 20px 0 0 10px;
    }

    .product-image {
        width: 200px;
        height: 80px;
        padding: 5px;
    }

    .product-image img {
        width: 200px;
        height: 140px;
    }

    .quantity-btn {
        padding: 4px 6px;
        font-size: 10px;
    }

    .quantity-input {
        margin-bottom: 20px;
    }

    .quantity-input input[type="number"] {
        width: 50px;
    }
}

.quantity-input input[type="number"] {
    width: 60px;
}

@media (max-width: 450px) {
    .btn {
        width: 200px;
        font-size: 12px;
        padding: 10px;
    }

    .container {
        padding: 10px;
    }

    .cart-item1 {
        width: 300px;
        height: auto;
        padding: 10px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    }

    .cart-item {
        width: 300px;
        padding: 5px;
    }

    .custom-checkbox {
        top: 15px;
        right: 40px;
        font-size: 14px;
        transform: scale(1);
    }

    .divider-line {
        width: 21%;
    }

    .product-details {
        font-size: 11px;
        height: 150px;
        width: 170px;
    }

    .product-details h3 {
        font-size: 14px;
        width: 140px;
        margin: 0 10px;
        font-weight: bold;
    }

    .product-details p {
        font-size: 10px;
        margin: 20px 0 0 10px;
    }

    .product-image {
        width: 170px;
        height: 80px;
        padding: 5px;
    }

    .product-image img {
        width: 130px;
        height: 120px;
    }

    .quantity-btn {
        padding: 6px 8px 0;
        font-size: 10px;
    }

    .quantity-input {
        margin-bottom: 20px;
    }

    .quantity-input input[type="number"] {
        width: 30px;
    }
}

.quantity-input input[type="number"] {
    width: 60px;
}
